

.person {
  margin: 5px 130px 5px 130px;
  padding: 8px;
  -webkit-box-shadow: 0px 4px 23px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 23px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 23px -7px rgba(0,0,0,0.75);
}